{% extends "base.html" %} {% block content %}

<form action="/" method="post" class="form">
    <label for="user-agent">User Agent:</label>
    <input type="text" id="data" name="data" value="Hello" />

    <input type="submit" value="Submit" />
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Order</th>
            <th>In Store</th>
        </tr>
    </thead>
    <tbody>
        {% for item in statuses %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.order }}</td>
            <td>{{ item.in_store }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
