{% extends "base.html" %} {% block content %}
<div class="heading">
    <h1>Dashboard</h1>

    <form action="/">
        <input type="submit" value="Refresh" class="refresh" />
    </form>
</div>

<h2>Delivery Agents</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Order</th>
            <th>In Store</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% if statuses | length == 0 %}
        <tr>
            <td colspan="4">No data</td>
        </tr>
        {% endif %} {% for item in statuses %}
        <tr>
            <td>{{ item.name | upper }}</td>
            <td>{{ item.order if item.order else '---' }}</td>
            <td>{{ item.in_store }}</td>
            <td class="{{ item.status | lower }} status">{{ item.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Orders</h2>
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Delivery Agent</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% if orders | length == 0 %}
        <tr>
            <td colspan="4">No data</td>
        </tr>
        {% endif %} {% for item in orders %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.customer_id }}</td>
            <td>{{ item.delivery_agent | upper }}</td>
            <td class="{{ item.status | lower }} status">{{ item.status }}</td>
        </tr>
        {% endfor %}
    </tbody>

    {% endblock %}
</table>
