{% extends "base.html" %} {% block content %}
<h1>Orders</h1>

<h2>New Order</h2>
<form action="/create-order" method="POST" class="order-form">
    <label for="product">
        Product
        <select name="product" id="product">
            {% for item in products %}
            <option value="{{ item.id }}">
                {{ item.Name }} - {{ item.Size }} - ₹{{ item.Price | int }}
            </option>
            {% endfor %}
        </select>
    </label>

    <label for="quantity">
        Quantity
        <input type="number" name="quantity" id="quantity" value="1" min="1" />
    </label>

    <label for="customer_id">
        Customer ID
        <input
            type="text"
            name="customer_id"
            id="customer_id"
            list="customer_ids" />
        <datalist id="customer_ids">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </datalist>
    </label>

    <input type="submit" value="Submit" />
</form>

<h2>Orders</h2>
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Delivery Agent</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% if orders | length == 0 %}
        <tr>
            <td colspan="4">No data</td>
        </tr>
        {% endif %} {% for item in orders %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.customer_id }}</td>
            <td>{{ item.delivery_agent | upper }}</td>
            <td class="{{ item.status | lower }} status">{{ item.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
