{% extends "base.html" %} {% block content %}
<h1>Orders</h1>

<h2>New Order</h2>
<form action="/orders" method="POST">
    <label for="customer_id">Customer ID</label>
    <input type="text" name="customer_id" id="customer_id" />
    <label for="delivery_agent">Delivery Agent</label>
    <input type="submit" value="Submit" />
</form>

<h2>Orders</h2>
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Delivery Agent</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% if orders | length == 0 %}
        <tr>
            <td colspan="4">No data</td>
        </tr>
        {% endif %} {% for item in orders %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.customer_id }}</td>
            <td>{{ item.delivery_agent }}</td>
            <td class="{{ item.status | lower }} status">{{ item.status }}</td>
        </tr>
        {% endfor %}
    </tbody>

    {% endblock %}
</table>
